<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.robot.mapper.RobotGroupRelMapper">
    
    <resultMap type="com.yh.robot.domain.RobotGroupRel" id="RobotGroupRelResult">
        <result property="id"    column="id"    />
        <result property="groupId"    column="group_id"    />
        <result property="relId"    column="rel_id"    />
        <result property="relType"    column="rel_type"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectRobotGroupRelVo">
        select id, group_id, rel_id, rel_type, create_time from robot_group_rel
    </sql>

    <select id="selectRobotGroupRelList" parameterType="com.yh.robot.domain.RobotGroupRel" resultMap="RobotGroupRelResult">
        <include refid="selectRobotGroupRelVo"/>
        <where>  
            <if test="groupId != null "> and group_id = #{groupId}</if>
            <if test="relId != null "> and rel_id = #{relId}</if>
            <if test="relType != null "> and rel_type = #{relType}</if>
        </where>
    </select>
    
    <select id="selectRobotGroupRelById" parameterType="Long" resultMap="RobotGroupRelResult">
        <include refid="selectRobotGroupRelVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRobotGroupRel" parameterType="com.yh.robot.domain.RobotGroupRel" useGeneratedKeys="true" keyProperty="id">
        insert into robot_group_rel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupId != null">group_id,</if>
            <if test="relId != null">rel_id,</if>
            <if test="relType != null">rel_type,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupId != null">#{groupId},</if>
            <if test="relId != null">#{relId},</if>
            <if test="relType != null">#{relType},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateRobotGroupRel" parameterType="com.yh.robot.domain.RobotGroupRel">
        update robot_group_rel
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupId != null">group_id = #{groupId},</if>
            <if test="relId != null">rel_id = #{relId},</if>
            <if test="relType != null">rel_type = #{relType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRobotGroupRelById" parameterType="Long">
        delete from robot_group_rel where id = #{id}
    </delete>

    <delete id="deleteRobotGroupRelByIds" parameterType="String">
        delete from robot_group_rel where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>